dist: trusty
language: cpp 
os: linux
compiler:
        -gcc
addons:
        apt:
                sources:
                        - ubuntu-toolchain-r-test
                packages:
                        - gcc-7
                        - g++-7
                        - cmake
                      
script: 
       - export CXX=g++-7
       - export CC=gcc-7
       - make
